<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
  </head>
  <body>
    <div style="padding: 5rem">
      <form action="/addUser" method="POST">
        <div>
          <label for="name">User Name: &nbsp;</label>
          <input type="text" name="name" />
        </div>
        <div>
          <label for="email">User Email: &nbsp;</label>
          <input type="email" name="email" />
        </div>
        <button type="submit">Create User</button>
      </form>
    </div>
  </body>
</html>
